
<div class="nav-bar">
  <div class="left-nav">
    <div class="logo">
      Complex Design
    </div>
    <div class="logo-sm">
      CD
    </div>
    <div class="search-bar">
      <span>
        <input type="search" placeholder="Search" style="max-width: 500px; padding-left: 8px;border:none; border-radius: 2px 0px 0px 2px;">
        <div class="search-wrapper">
          <i class="fa fa-search" style="color:grey;"></i>
        </div>
      </span>
    </div>
  </div>
  <div class="right-nav">
    <div class="enable-socket-btn-wrapper" (click)="socketToggle()">
      <div class="enable-socket-btn">
        <div *ngIf="!socketToggleBool" class="enable-socket socket-large"  >
          Enable WebSocket
        </div>
        <div *ngIf="socketToggleBool" class="disable-socket socket-large" >
          Disable WebSocket
        </div>
        <div *ngIf="!socketToggleBool" class="enable-socket socket-short" style="display:none;">
          Try
        </div>
        <div *ngIf="socketToggleBool" class="disable-socket socket-short" style="display:none;">
          Stop
        </div>
      </div>      
    </div>
    <div class="notifications-wrapper" (clickOutside)="close()" (click)="open()">
      <i class="fa fa-bell"></i> 
      <span *ngIf='displayNotif && socketToggleBool && notifno'  class="unread-msg-no-placeholder">
          {{notifno}}
      </span>     
    </div>
    <div class="notification-box-wrapper" *ngIf='display && socketToggleBool'>
      <div *ngFor='let item of notifdata' class="notification-box" >
       <div class="item">
        <div class="icon">
          <img src="../assets/cartoon5.png">
        </div>
        <div class="message">
          <div class="content">
            {{item.data}}
          </div>
          <div class="timestamp">
            {{item.number}} hrs ago
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="profile-wrapper">
      <span class="profile-placeholder">
        J
      </span>
    </div>
  </div>
</div>
<div class="section">
  <div class="left-section">
    <div class="profile-photo-plus-name">
      <div class="profile-photo">
        <i class="fa fa-user"></i>
      </div>
      <div class="profile-name">
        Good name
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-heading">
        FAVOURITES
      </div>
      <div class="feature-list">
        <div class="list-item">
          <div class="item-icon">
            <i style="color: grey;" class="far fa-newspaper"></i>
          </div>
          <div class="item-name">
            News Feed
          </div>
          <div class="item-option">
             <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="list-item">
          <div class="item-icon">
           <i style="color: cadetblue;" class="fas fa-comments"></i>
          </div>
          <div class="item-name">
            Messages
          </div>
          <div class="item-option">
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="list-item">
          <div class="item-icon">
            <i style="color: brown;" class="fas fa-calendar-alt"></i>
          </div>
          <div class="item-name">
            Events
          </div>
          <div class="item-option">
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
         <div class="list-item">
          <div class="item-icon">
            <i  style="color: cornflowerblue;" class="fas fa-user-friends"></i>
          </div>
          <div class="item-name">
            Find Friends
          </div>
          <div class="item-option">
             <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-heading">
        LISTS
      </div>
      <div class="feature-list">
        <div class="list-item">
          <div class="item-icon">
            <i  style="color: cornflowerblue;" class="fas fa-user-friends"></i>
          </div>
          <div class="item-name">
            Close Friends
          </div>
          <div class="item-option">
             <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="list-item">
          <div class="item-icon">
           <i style="color: midnightblue;" class="fas fa-home"></i>
          </div>
          <div class="item-name">
            Family
          </div>
          <div class="item-option">
             <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-heading">
        APPS
      </div>
      <div class="feature-list">
        <div class="list-item">
          <div class="item-icon">
            <i  style="color: cornflowerblue;" class="fab fa-empire"></i>
          </div>
          <div class="item-name">
            Empires and Allies
          </div>  
           <div class="item-option">
             <i class="fas fa-ellipsis-h"></i>
          </div>       
        </div>
        <div class="list-item">
          <div class="item-icon">
           <i style="color: bisque;" class="fas fa-puzzle-piece"></i>
          </div>
          <div class="item-name">
            Games Requests
          </div>
           <div class="item-option">
             <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="list-item">
          <div class="item-icon">
           <i class="fab fa-medapps"></i>
          </div>
          <div class="item-name">
            Apps Requests
          </div>
          <div class="item-option">
             <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="middle-live-story-section">
    <div style="margin:0px auto;width: fit-content;width: -moz-fit-content;">
      <div style="position:absolute;" (click)="newstory()" *ngIf='displaynewstorybtn'>
        <div *ngIf="socketToggleBool" class="new-story-button" ><i style="padding:2px 8px 0px 8px; line-height:inherit;" class="fa fa-spinner fa-spin" aria-hidden="true"></i> New Stories</div>
      </div>
    </div>
    <div class="create-post-container">
      <div class="header">
        Create Post
      </div>
      <div class="body">
        <div class="profile-photo">
          <i class="fa fa-user"></i>
        </div>
        <div class="writing-space-area">
          <textarea required (change)="doTextareaValueChange($event)" class="textarea" rows = "5" cols = "50" name = "post-comment" placeholder="Write something here..."></textarea>
        </div>
      </div>
      <div class="footer-options" >
        <div class="option ophover" (click)="fileInput.click()">
           <input  style="display: none" type="file" accept="image/*" (change)="handleFileInput($event.target.files)" #fileInput>
          <div *ngIf="!file" class="option-icon">
            <i style="color: crimson;" class="fas fa-image"></i>
          </div>
          <div *ngIf="file" class="option-icon">
            <i style="color: green;" class="fas fa-check"></i>  
          </div>
          <div class="option-name">
            Image
          </div>
        </div>
        <div class="option ophover" (click)=openDialog($event)>
          <div *ngIf="!embedCode" class="option-icon">
            <i style="color: crimson;" class="fab fa-youtube"></i>
          </div>
          <div *ngIf="embedCode" class="option-icon">
            <i style="color: green;" class="fas fa-check"></i>  
          </div>
          <div class="option-name">
            Video
          </div>
        </div>
        <div class="option">
          <div class="option-icon">
            <i  style="color: cornflowerblue;" class="fas fa-user-friends"></i>
          </div>
          <div class="option-name">
            Tag Friends
          </div>
        </div>
        <div class="option">
          <div class="option-icon">
              <i style="color:grey;" class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="post-button" (click)="createStory()">
          Submit
        </div>
      </div>
    </div>
    <div class="story-container">      
      <div *ngFor='let story of storydata' class="story-list">
        
        <div class="story">
          <div class="header">
            <div class="profile-photo">
              <i class="fa fa-user"></i>
            </div>
            <div class="name-and-time-placeholder">
              <div class="profile-name">
                {{story.profile_name}}
              </div>
              <div *ngIf='!story.profile_name'  class="profile-name">
                Dynamic
              </div>
              <div class="time-stamp">
                <span *ngIf="story.profile_name">  
                  Created at {{story.time}} before
                </span>
                <span *ngIf="!story.profile_name">
                  Created on {{story.time | date :'EEEE, MMMM d, y, h:mm:ss a':'IST' }} 
                </span>
              </div>
            </div>
            <div class="story-option">
              <div class="option-icon">   
                <ng-template #popContent><span style="cursor:pointer;font-size: .9em;" (click)="deletePost(story)" >Delete</span> </ng-template>               
                <i [ngbPopover]="popContent" [popoverTitle]="" style="color:grey;" class="fas fa-ellipsis-h"></i>              
              </div>
            </div>   
          </div>
          <div class="body">
            {{story.content}}
          </div>
          <div *ngIf='story.image' class="image-space-area">
            <img src="{{story.image}}" alt="foldable-phone">
          </div>
          <div *ngIf='story.video' class="image-space-area">     
            <div  [innerHTML]="story.video | sanitizeHtml" class="video">                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="story-option-container">
      <div class="header">
        Stories
      </div>
      <div class="story-item">
        <div class="icon">
          <img src="../assets/icon-1.png">
        </div>
        <div class="content">        
          <div class="item-title">
            Craft World Kashmir
          </div>
          <div class="item-content">
            about a minute ago
          </div>
        </div>
      </div>     
      <div class="story-item">
        <div class="icon">
          <img src="../assets/iocn-2.png">
        </div>
        <div class="content">        
          <div class="item-title">
            Little Black Hijab
          </div>
          <div class="item-content">
            about an hour ago
          </div>
        </div>
      </div>    
      <div class="story-item">
        <div class="icon">
          <img src="../assets/icon-3.png">
        </div>
        <div class="content">        
          <div class="item-title">
            Goodness thoughts
          </div>
          <div class="item-content">
            5 hours ago
          </div>
        </div>
      </div>     
    </div> 
  </div>
</div>